<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

  </head>
  <body>
      <!-- info text -->
    <div class="ui middle aligned center aligned grid ">
        <div class="row">
            <h1>Hello <%= @user.username %> !</h1>
        </div>
        <div class="row">
            <div class="eleven wide column">
            <div class="ui divided items secondary segment">
                <div class="item">
                        <div class="content">
                          <div class="header ui large">
                              <p><% if @user.posts.where(:created_at => 1.week.ago..DateTime.now).count > 0 %>
                                You’ve done <%= @user.posts.where(:created_at => 1.week.ago..DateTime.now).count %> activities in total this past week!
                              <% else %>
                                You’ve done some activities this past week!
                              <% end %>
                                  Looks like you are putting the time and effort for creating healthy habits ! This lifestyle will bring you closer to your goals and improve your overall health and fitness !</p>
                            </div>
                        </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="eleven wide column">
                <div class="ui divided items secondary segment">
                     <div class="item" style="text-align:left">
                        <div class="content">
                          <div class="header">Activity logging</div>
                          <div class="meta">
                              <p>Through this feature of the platform you can log your activites in the form of posts. Every activity has a title to fill in and a description to add comments, if you wish. Each activity also has a type to choose from and a timestamp.</p>
                          </div>
                          <div class="description">
                            <p></p>
                          </div>
                        </div>
                    </div>
                    <div class="item" style="text-align:left">
                        <div class="content">
                          <div class="header">Activity types</div>
                          <div class="meta">
                              <p> You are free to choose activity types from a group of low intensity physical activities. Those cover the whole spectrum of physical activity, from sport to commuting, gardening and even housework. The goal to perfom as many low intensity physical activities as you wish. In the <b>"PLANS"</b> section you can find a sample schedule for activity and we higly encourage you to follow it. It is formed under the guideline of the World Health Organisation for a healhty and active daily lifestyle. </p>
                          </div>
                          <div class="meta">
                              <p> You are free to choose activity types from the following three low intensity physical activities. Walking and commuting (cycling or else) are good examples of everyday low intensity exercise. If those do not cover your preferences, you can choose <b>"Other"</b>as activity type and type in the description more details of what you did. The goal to perfom as many low intensity physical activities as you wish. In the <b>"PLANS"</b> section you can find a sample schedule for activity and we higly encourage you to follow it. It is formed under the guideline of the World Health Organisation for a healhty and active daily lifestyle. </p>
                          </div>
                          <div class="description">
                            <p></p>
                          </div>
                        </div>
                    </div>
                    <div class="item" style="text-align:left">
                        <div class="content">
                          <div class="header">Mood and entertainment</div>
                          <div class="meta">
                              <p>We want you to think and reflect on which extend you had fun during this activity and what was your mood during that activity. Please don not forget to fill in those two questions through the sliders !</p>
                          </div>
                          <div class="description">
                            <p></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="ui  basic button" href="mailto:c.papacharalampous@student.tue.nl">Contact Us</a>
        </div>
    </div>
    <!-- info text -->

  </body>
</html>
