<p>
  <strong>Measurement type:</strong>
  <%if @water.measurement_type ==1 %>
            Cup
    <% elsif @water.measurement_type == 2 %>
            ml
    <% end %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @water.quantity %>
</p>


<%= link_to 'Back', "/pages/userinfo" %>
