<footer class="footer mt-auto py-3">
    <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
          <div class="ui right floated basic segment" style="margin-right: 0px;">
            <h4 class="ui header right aligned">Questions ?</h4>
            <p><a class="ui brown basic button" href="mailto:c.papacharalampous@student.tue.nl">Contact Us</a></p>
          </div>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Content -->
        <div class="ui left floated basic segment">
            <h4 class="ui header">Privacy Policy :</h4>
            <p><a class="ui brown basic button" href="../pages/policy.html.erb">Policy</a></p>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->
  <!-- Copyright
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <span href="#"> HP2020</span>
  </div>
   Copyright -->
</footer>
