<header>
<!-- Fixed navbar -->
      <div class="ui secondary menu sticky-top container d-flex flex-column flex-md-row justify-content-between">
        <div class="item"><%= link_to "FEED", root_path, class: 'item' %></div>
        <div class="item" ><%= link_to 'NEW ENTRY', "/pages/newentrypreface" , class: 'item' %></div>
        <div class="item" ><%= link_to "PLAN", "/pages/plans", class: 'item'  %></div>
        <div class="item" ><%= link_to "USER", "/pages/userinfo", class: 'item' %></div>
      </div>
</header>
