<header>
<!-- Fixed navbar -->
      <div class="ui secondary menu sticky-top container d-flex flex-column flex-md-row justify-content-between">
        <div class="item"><%= link_to "FEED", root_path, class: 'item' %></div>
        <div class="item" ><%= link_to 'NEW ENTRY', pages_newentrypreface_path , class: 'item' %></div>
        <div class="item" ><%= link_to "PLAN", pages_plans_path, class: 'item'  %></div>
        <div class="item" ><%= link_to "USER", pages_userinfo_path, class: 'item' %></div>
      </div>
</header>
